@using AngularJSSamples.Extensions
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/angular.min.js"></script>
<script>
    angular.module("myApp", [])
        .controller("myController",
        [
            "$http",
            function ($http) {
                var self = this;

                self.user = @Html.Raw(ObjectExtension.SerializeToJson(ViewBag.User, true));

                self.save = function () {
                    $http.post("/Home/Save", self.user.modified)
                        .then(function success(response) {
                            console.log(response);
                        });
                };
            }
        ]);
</script>

<h2>Index</h2>
<div ng-app="myApp" ng-controller="myController as myCtrl">
    <p>
    <h3>ngModel</h3>
    <p>
        <label>Id: </label><span ng-bind="myCtrl.user.id"></span><br/>
        <label>First Name: </label><input type="text" id="firstName" ng-model="myCtrl.user.modified.firstName"/><br/>
        <label>Last Name: </label><input type="text" id="lastName" ng-model="myCtrl.user.modified.lastName"/><br/>
        <label>Age: </label><input type="text" id="age" ng-model="myCtrl.user.modified.age"/>
    </p>
    <p>
        <span ng-bind="myCtrl.user.modified.firstName"></span>
        <span ng-bind="myCtrl.user.modified.lastName"></span>, <span ng-bind="myCtrl.user.modified.age"></span> years old.
    </p>
    <p>
        <input id="save" type="button" value="Save" ng-click="myCtrl.save()"/>
    </p>
</div>